{% extends 'aMainApp/layout.html' %}
{% load static %}


{% block content %}



<h1 class="page__topper__title" style="padding-top:50px; font-size:60px;">‘’Bu Evren Gayesi Olmayanlar İçin Bir Yüktür’’ </h1>
<p style="text-align: center; font-size:30px;">
  -Cihan Buğdaycı
</p> 
<ul class="ais-Hits-list" style="list-style:none ;"> <br><br>
  <hr>
  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--atlas-medium">
      <div class="archive-item__image__wrapper">
        <a href="" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/momlala3.jpg' %}" 
            alt="" 
            data-srcset="{% static 'images/momlala3.jpg' %} 300w, {% static 'images/momlala3.jpg' %} 768w, {% static 'images/momlala3.jpg' %} 900w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/momlala3.jpg' %} 300w, {% static 'images/momlala3.jpg' %} 768w, {% static 'images/momlala3.jpg' %} 900w" 
            src="{% static 'images/momlala3.jpg' %}">
          </div>
        </a>
      </div>
      
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">2020</a>
        <a href="" class="archive-item__title__link">
          
          <h1 class="archive-item__title">Kolektif Future</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:24px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>2020 yılında şirketlerin yetkinlik sahibi genç bulmakta zorlandıkları fark etti. 21. Yüzyıl yetkinliklerine sahip gençleri yetiştirmek ve onları iş dünyasına katkıda bulunmak için Kolektif Future kurucu ortaklığı yaptı. Kolektif Future; şirketlerin, şirket çalışanlarının ve şirket çalışan çocuklarının ihtiyaç duydukları eğitimleri ve yetkinlikleri organize etmektedir.</p>
        </div>
      </div>
    </article>
  </li>

  <hr>


  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--atlas-medium">
      <div class="archive-item__image__wrapper">
        <a href="" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/covidmomlala.jpeg' %}" 
            alt="" 
            data-srcset="{% static 'images/covidmomlala.jpeg' %} 300w, {% static 'images/covidmomlala.jpeg' %} 768w, {% static 'images/covidmomlala.jpeg' %} 900w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/covidmomlala.jpeg' %} 300w, {% static 'images/covidmomlala.jpeg' %} 768w, {% static 'images/covidmomlala.jpeg' %} 900w" 
            src="{% static 'images/covidmomlala.jpeg' %}">
          </div>
        </a>
      </div>
      
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">Proje</a>
        <a href="" class="archive-item__title__link">
          
          <h1 class="archive-item__title">Covid-19 Sürecinde Momlala</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:24px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>Dünyayı sarsan pandemi nedeniyle ailelerin, evde çocuklarının gelişimi için endişelendiklerini fark etti. Kuruculuğunu yaptığı Momlala ekibi ile birlikte 55 bin aileye 90 gün boyunca ücretsiz bir şekilde okul öncesi içerikleri ulaştırarak, ailelere destek oldu.</p>
        </div>
      </div>
    </article>
  </li>

  <hr>


  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--atlas-medium">
      <div class="archive-item__image__wrapper">
        <a href="" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/momlala.png' %}" 
            alt="" 
            data-srcset="{% static 'images/momlala.png' %} 300w, {% static 'images/momlala.png' %} 768w, {% static 'images/momlala.png' %} 900w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/momlala.png' %} 300w, {% static 'images/momlala.png' %} 768w, {% static 'images/momlala.png' %} 900w" 
            src="{% static 'images/momlala.png' %}">
          </div>
        </a>
      </div>
      
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">2018</a>
        <a href="" class="archive-item__title__link">
          
          <h1 class="archive-item__title">Momlala</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:24px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>2018 yılında bulunduğu girişimlerden ötürü Gençlik Spor Bakanlığı İstanbul İl Müdürlüğü tarafından Yılın Genç Girişimcisi ödülünü aldı. Yaptığı okumalar neticesinde; eğitimde en önemli olan alanın okul öncesi eğitimi olduğu fark ederek İstanbul Esenyurt Üniversitesi Psikoloji Bölümüne yatay geçiş yaptı. Amacı çocuk psikoloji alanında araştırmalar yaparak, sağlıklı ve bilinçli  çocuk gelişimini ebeveynlere ulaştırmaktı. Okul öncesi eğitimini her anne ve babaya ulaştırmak için Momlala Mobil Uygulamasını yapmaya karar verdi. Amacı Kişiselleştirilmiş Ebeveyn Asistanı geliştirmekti. Momlala projesi ile Hamdi Ulukaya Girişimine başvurdu ve 7489 proje arasından en başarılı ilk 24 proje arasına seçilerek Amerika’da girişimcilik eğitimi almaya hak kazandı.</p>
        </div>
      </div>
    </article>
  </li>


  <hr>



  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--atlas-medium">
      <div class="archive-item__image__wrapper">
        <a href="" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/hayaliolan.jpg' %}" 
            alt="" 
            data-srcset="{% static 'images/hayaliolan.jpg' %} 300w, {% static 'images/hayaliolan.jpg' %} 768w, {% static 'images/hayaliolan.jpg' %} 900w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/hayaliolan.jpg' %} 300w, {% static 'images/hayaliolan.jpg' %} 768w, {% static 'images/hayaliolan.jpg' %} 900w" 
            src="{% static 'images/hayaliolan.jpg' %}">
          </div>
        </a>
      </div>
      
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">2018</a>
        <a href="" class="archive-item__title__link">
          
          <h1 class="archive-item__title">Hayali Olan Liseli</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:24px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>2018 Yılında liseli öğrencilere girişimcilik, inovasyon ve liderlik eğitimleri vermek amacıyla Hayali Olan Liseli’yi kurdu. Hayali, liseli öğrencileri okula değil hayatın kendisine hazırlamaktı. Aynı yıl yetiştirmiş olduğu gençlerle birlikte Köydeki Üniversite Projesini başlattı.  Çocukluğu köyde büyük zorluklar içerisinde geçen Buğdaycı, köydeki çocukların hayatını kolaylaştırmak istiyordu. Köydeki Üniversite Projesi, köydeki çocukların kodlama eğitimleri aldıkları, anne-babaların çocuk gelişimi hakkında bilgilendirildikleri ve köy okullarının ihtiyaçlarının karşılandığı bir projeydi.</p>
        </div>
      </div>
    </article>
  </li>


  <hr>


  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--atlas-medium">
      <div class="archive-item__image__wrapper">
        <a href="" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/bigg.jpg' %}" 
            alt="" 
            data-srcset="{% static 'images/bigg.jpg' %} 300w, {% static 'images/bigg.jpg' %} 768w, {% static 'images/bigg.jpg' %} 900w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/bigg.jpg' %} 300w, {% static 'images/bigg.jpg' %} 768w, {% static 'images/bigg.jpg' %} 900w" 
            src="{% static 'images/bigg.jpg' %}">
          </div>
        </a>
      </div>
      
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">2016</a>
        <a href="" class="archive-item__title__link">
          
          <h1 class="archive-item__title">Big Passions</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:24px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>2016 yılında Big Passions’ı kurdu. Lise ve üniversite öğrencilerinin hayallerini anlattıkları bir konuşma sahnesi. Bilim, İnsan ve Gelecek adına  konuşmaların ve ilham verici fikirlerin paylaşıldığı bu sahnede gençler hayallerini anlattılar.</p>
        </div>
      </div>
    </article>
  </li>


  <hr>



  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--atlas-medium">
      <div class="archive-item__image__wrapper">
        <a href="" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/kitaplasaninsanlar.jpg' %}" 
            alt="" 
            data-srcset="{% static 'images/kitaplasaninsanlar.jpg' %} 300w, {% static 'images/kitaplasaninsanlar.jpg' %} 768w, {% static 'images/kitaplasaninsanlar.jpg' %} 900w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/kitaplasaninsanlar.jpg' %} 300w, {% static 'images/kitaplasaninsanlar.jpg' %} 768w, {% static 'images/kitaplasaninsanlar.jpg' %} 900w" 
            src="{% static 'images/kitaplasaninsanlar.jpg' %}">
          </div>
        </a>
      </div>
      
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">2015</a>
        <a href="" class="archive-item__title__link">
          
          <h1 class="archive-item__title">Kitaplaşan İnsanlar</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:24px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>Kitaplaşan İnsanlar, Türkiye genelinde kitap okuma alışkanlığı kazandırmak, dezavantajlı öğrencilerinin eğitim masraflarını karşılamak, köy okullarında kütüphaneler kurmak, köy okullarını onarmak ve boyamak üzere Cihan Buğdaycı tarafından 2015 yılında başlatılmıştır. Kitaplaşan İnsanlar, 52 il 7 ülkede toplam 12 bin kişinin katılımı ile topluma büyük değerler katmıştır. Her yıl binlerce öğrencinin eğitim ihtiyaçları karşılandı, köylerde kütüphaneler kuruldu ve üniversitelerde akademik çalışmalar yapıldı.</p>
        </div>
      </div>
    </article>
  </li>


  <hr>
  </ul>

{% endblock %}