{% extends 'aMainApp/layout.html' %}
{% load static %}


{% block content %}

<section class="general_content">
  <div class="content" style="max-width:1200px;">
<h2 style="text-align: center;">Ödüller<br /></h2>
<p style=" font-family: 'Lora'; font-size:21px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">

-En Yenilikçi İnsan Ödülü  (2017) <br>
Kuruculuğunu yaptığı Kitaplaşan İnsanlar’ın üniversite organizasyonlarında hayata geçirdiği inovasyonlardan ötürü aldığı bir ödüldür. Ödül Sem Dil Okulları tarafından verilmiştir. <br> <br>
-Yılın Genç Girişimcisi Ödülü (2018) <br>
Kuruculuğunu yaptığı Hayali Olan Liseli ile girişimciliği lise öğrencileri arasında yaygınlaştırarak 21. Yüzyıla uygun bir sistem kurmayı başardı. Ödül Gençlik Spor Bakanlığı İl Müdürlüğü tarafından verilmiştir. <br><br>
-En Başarılı Genç Ödülü (2021) <br>
Öğrencilik yıllarında hayata geçirdiği başarılı projeler ve Türkiye’de on binlerce gencin faydalanacağı eğitim modelleri geliştirdiği için İstanbul Esenyurt Üniversitesi tarafından bu ödülü almaya hak kazanmıştır. <br><br>
-Uluslararası Genç Liderler ve Girişimciler (JCI) Derneği Türkiye’nin On Başarılı Genci (2021) <br>
7 ülke 57 ilde insanlık yararına çalışmalar yapan Buğdaycı, Junior Chamber International (JCI) tarafından desteklenen TOYP programı kapsamında bu ödülü almaya hak kazanmıştır.


</p>

</div>
</section>

{% endblock %}