{% extends 'aMainApp/layout.html' %}
{% load static %}


{% block content %}


<h1 class="page__topper__title" style="padding-top:100px;">Hoş geldiniz</h1> 
<ul class="ais-Hits-list"> <br><br>
  <hr>
  <li class="ais-Hits-item" style="max-height:600px">
    <article class="archive-item archive-item--hub theme--atlas-medium">
      <div class="archive-item__image__wrapper" style="max-height:500px;">
        <a href="https://www.youtube.com/watch?v=sFewHY2yNtA&t=5s" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other">
          <div class="tease__image__size" >
            <img data-src="{% static 'images/yenigelecekicin.png' %}" 
            alt="" 
            data-srcset="{% static 'images/yenigelecekicin.png' %} 300w, {% static 'images/yenigelecekicin.png' %} 768w, {% static 'images/yenigelecekicin.png' %} 900w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/yenigelecekicin.png' %} 300w, {% static 'images/yenigelecekicin.png' %} 768w, {% static 'images/yenigelecekicin.png' %} 900w" 
            src="{% static 'images/yenigelecekicin.png' %}">
          </div>
        </a>
      </div>
      
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">Video</a>
        <a href="https://www.youtube.com/watch?v=sFewHY2yNtA&t=5s" class="archive-item__title__link">
          
          <h1 class="archive-item__title">Cihan Buğdaycı: Yeni Gelecekte Genç Lider Olmak </h1>
        </a>
        <div class="archive-item__description">
          <p></p>
        </div>
      </div>
    </article>
  </li>



  <hr>




  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--daring-classrooms-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://www.youtube.com/watch?v=lktvDHJ1rns&t=1024s" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/basariyadogru.png' %}" alt="" 
            data-srcset="{% static 'images/basariyadogru.png' %} 300w, {% static 'images/basariyadogru.png' %} 1024w, {% static 'images/basariyadogru.png' %} 768w, {% static 'images/basariyadogru.png' %} 1536w, {% static 'images/basariyadogru.png' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/basariyadogru.png' %} 300w, {% static 'images/basariyadogru.png' %} 1024w, {% static 'images/basariyadogru.png' %} 768w, {% static 'images/basariyadogru.png' %} 1536w, {% static 'images/basariyadogru.png' %} 2048w" 
            src="{% static 'images/basariyadogru.png' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">Video</a>
        <a href="https://www.youtube.com/watch?v=lktvDHJ1rns&t=1024s" class="archive-item__title__link">
          <h1 class="archive-item__title">Üniversitelerde eğitim ve tercih dönemine dair merak edilenler</h1>
        </a>
        <div class="archive-item__description">
          <p>CNN TÜRK Başarıya Doğru Programı</p>
        </div>
      </div>
    </article>
  </li>



  <hr>



  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--dare-to-lead-dark">
      <div class="archive-item__image__wrapper">
        <a href="{% url 'beceritoplumundan' %}" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/ongenc.png' %}" 
            alt="" 
            data-srcset="{% static 'images/ongenc.png' %} 300w, {% static 'images/ongenc.png' %} 1024w, {% static 'images/ongenc.png' %} 768w, {% static 'images/ongenc.png' %} 1536w, {% static 'images/ongenc.png' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/ongenc.png' %} 300w, {% static 'images/ongenc.png' %} 1024w, {% static 'images/ongenc.png' %} 768w, {% static 'images/ongenc.png' %} 1536w, {% static 'images/ongenc.png' %} 2048w" 
            src="{% static 'images/ongenc.png' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">Yazı</a>
        <a href="https://www.aksam.com.tr/cumartesi/ulkemizin-gururu-10-basarili-genc-odullendirildi/haber-1226107" class="archive-item__title__link">
          <h1 class="archive-item__title">Ülkemizin gururu 10 başarılı genç ödüllendirildi</h1>
        </a>
        <div class="archive-item__description">
          <p></p>
        </div>
      </div>
    </article>
  </li>



  <hr>


  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--the-gifts-of-imperfection-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://www.dha.com.tr/egitim/2018in-genc-girisimcisi-cihan-bugdayci-oldu-1618560" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/2018basari.png' %}" 
            alt="The Gifts Hub" 
            data-srcset="{% static 'images/2018basari.png' %} 300w, {% static 'images/2018basari.png' %} 1024w, {% static 'images/2018basari.png' %} 768w, {% static 'images/2018basari.png' %} 1536w, {% static 'images/2018basari.png' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/2018basari.png' %} 300w, {% static 'images/2018basari.png' %} 1024w, {% static 'images/2018basari.png' %} 768w, {% static 'images/2018basari.png' %} 1536w, {% static 'images/2018basari.png' %} 2048w" 
            src="{% static 'images/2018basari.png' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">Yazı</a>
        <a href="https://www.dha.com.tr/egitim/2018in-genc-girisimcisi-cihan-bugdayci-oldu-1618560" class="archive-item__title__link">
          <h1 class="archive-item__title">2018 'in Genç Girişimcisi Cihan Buğdaycı Oldu</h1>
        </a>
        <div class="archive-item__description">
          <p></p>
        </div>
      </div>
    </article>
  </li>



  <hr>

  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--the-gifts-of-imperfection-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://www.milliyet.com.tr/yerel-haberler/kutahya/okuma-aliskanligi-kazandirmak-icin-proje-hazirladi-11971146" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/okumaaliskanligi.png' %}" 
            alt="The Gifts Hub" 
            data-srcset="{% static 'images/okumaaliskanligi.png' %} 300w, {% static 'images/okumaaliskanligi.png' %} 1024w, {% static 'images/okumaaliskanligi.png' %} 768w, {% static 'images/okumaaliskanligi.png' %} 1536w, {% static 'images/okumaaliskanligi.png' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/okumaaliskanligi.png' %} 300w, {% static 'images/okumaaliskanligi.png' %} 1024w, {% static 'images/okumaaliskanligi.png' %} 768w, {% static 'images/okumaaliskanligi.png' %} 1536w, {% static 'images/okumaaliskanligi.png' %} 2048w" 
            src="{% static 'images/okumaaliskanligi.png' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">Yazı</a>
        <a href="https://www.milliyet.com.tr/yerel-haberler/kutahya/okuma-aliskanligi-kazandirmak-icin-proje-hazirladi-11971146" class="archive-item__title__link">
          <h1 class="archive-item__title">Cihan Buğdaycı Okuma Alışkanlığı Kazandırmak İçin Proje Hazırladı</h1>
        </a>
        <div class="archive-item__description">
          <p></p>
        </div>
      </div>
    </article>
  </li>


  <hr>


  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--the-gifts-of-imperfection-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://www.haberturk.com/egitim-ve-eglence-iceriklerini-koronavirus-gunlerinde-cocuklara-ucretsiz-sundular-2682219" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/momlala.png' %}" 
            alt="The Gifts Hub" 
            data-srcset="{% static 'images/momlala.png' %} 300w, {% static 'images/momlala.png' %} 1024w, {% static 'images/momlala.png' %} 768w, {% static 'images/momlala.png' %} 1536w, {% static 'images/momlala.png' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/momlala.png' %} 300w, {% static 'images/momlala.png' %} 1024w, {% static 'images/momlala.png' %} 768w, {% static 'images/momlala.png' %} 1536w, {% static 'images/momlala.png' %} 2048w" 
            src="{% static 'images/momlala.png' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="{% url 'articles' %}" class="archive-item__overline" title="">Yazı</a>
        <a href="https://www.haberturk.com/egitim-ve-eglence-iceriklerini-koronavirus-gunlerinde-cocuklara-ucretsiz-sundular-2682219" class="archive-item__title__link">
          <h1 class="archive-item__title">Eğitim Ve Eğlence İçeriklerini Koronavirüs Günlerinde Çocuklara Ücretsiz Sundular</h1>
        </a>
        <div class="archive-item__description">
          <p></p>
        </div>
      </div>
    </article>
  </li>


  <hr>


</ul>


{% endblock %}