{% extends 'aMainApp/layout.html' %}
{% load static %}


{% block content %}

<h1 class="page__topper__title" style="padding-top:100px;">Hoş geldiniz</h1> 
<ul class="ais-Hits-list" style="list-style:none ;"> <br><br>
  <hr>
  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--atlas-medium">
      <div class="archive-item__image__wrapper">
        <a href="https://open.spotify.com/episode/3su5X6vKo1plw7F5ZeA2Pw" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/basarininbencesi.jpeg' %}" 
            alt="" 
            data-srcset="{% static 'images/basarininbencesi1.jpeg' %} 300w, {% static 'images/basarininbencesi1.jpeg' %} 768w, {% static 'images/basarininbencesi1.jpeg' %} 900w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/basarininbencesi1.jpeg' %} 300w, {% static 'images/basarininbencesi1.jpeg' %} 768w, {% static 'images/basarininbencesi1.jpeg' %} 900w" 
            src="{% static 'images/basarininbencesi1.jpeg' %}">
          </div>
        </a>
      </div>
      
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">Bencesi Podcast</a>
        <a href="https://open.spotify.com/episode/3su5X6vKo1plw7F5ZeA2Pw" class="archive-item__title__link">
          
          <h1 class="archive-item__title">Başarının Bencesi</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:20px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>İktisadi ya da topluma dönük sonuçlara göre başarıyı belirleyerek hedefler doğrultusunda ilerliyoruz. Siz yaşam patikasının sonunda iktisad temelli lezzeti mi yoksa patikada ilerlerken ruhu besleyen duyguyu düşünerek mi hareket edersiniz?</p>
        </div>
      </div>
    </article>
  </li>



  <hr>




  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--daring-classrooms-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://open.spotify.com/episode/2ynUHJqiYiarbJ8Q8gMv6P" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/teknolojivegeleceginbencesi.jpg' %}" alt="Daring Classrooms" 
            data-srcset="{% static 'images/teknolojivegeleceginbencesi.jpg' %} 300w, {% static 'images/teknolojivegeleceginbencesi.jpg' %} 1024w, {% static 'images/teknolojivegeleceginbencesi.jpg' %} 768w, {% static 'images/teknolojivegeleceginbencesi.jpg' %} 1536w, {% static 'images/teknolojivegeleceginbencesi.jpg' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/teknolojivegeleceginbencesi.jpg' %} 300w, {% static 'images/teknolojivegeleceginbencesi.jpg' %} 1024w, {% static 'images/teknolojivegeleceginbencesi.jpg' %} 768w, {% static 'images/teknolojivegeleceginbencesi.jpg' %} 1536w, {% static 'images/teknolojivegeleceginbencesi.jpg' %} 2048w" 
            src="{% static 'images/teknolojivegeleceginbencesi.jpg' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="Browse all hubs">Bencesi Podcast</a>
        <a href="https://open.spotify.com/episode/2ynUHJqiYiarbJ8Q8gMv6P" class="archive-item__title__link">
          <h1 class="archive-item__title">Teknoloji ve Geleceğin Bencesi</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:20px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>Teknoloji ve telaş çağında biz insanlar ne yapacağımızı ve gelecekte nasıl kendimiz konumlandıracağımız konusunda zorlanıyoruz. Sizce, insan mı teknoloji için var yoksa teknoloji mi insan için var ?</p>
        </div>
      </div>
    </article>
  </li>



  <hr>



  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--dare-to-lead-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://open.spotify.com/episode/5LjQQNG07ObYlcvmtCSC2h" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/meraketmeninbencesi.jpeg' %}" 
            alt="" 
            data-srcset="{% static 'images/meraketmeninbencesi.jpeg' %} 300w, {% static 'images/meraketmeninbencesi.jpeg' %} 1024w, {% static 'images/meraketmeninbencesi.jpeg' %} 768w, {% static 'images/meraketmeninbencesi.jpeg' %} 1536w, {% static 'images/meraketmeninbencesi.jpeg' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/meraketmeninbencesi.jpeg' %} 300w, {% static 'images/meraketmeninbencesi.jpeg' %} 1024w, {% static 'images/meraketmeninbencesi.jpeg' %} 768w, {% static 'images/meraketmeninbencesi.jpeg' %} 1536w, {% static 'images/meraketmeninbencesi.jpeg' %} 2048w" 
            src="{% static 'images/meraketmeninbencesi.jpeg' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" >Bencesi Podcast</a>
        <a href="https://open.spotify.com/episode/5LjQQNG07ObYlcvmtCSC2h" class="archive-item__title__link">
          <h1 class="archive-item__title">Merak Etmenin Bencesi</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:20px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>Yaşamakta olan bütün insanlar için bir sonraki an ‘geleceği’ temsil etmekte. Peki gelecek herkese ait midir? Bencesi’ne göre; “Gelecek, cesurca merak edebilen insanlara aittir.“ Sizleri Merak Etmenin Bencesi ile keşif yolculuğuna davet ediyoruz.</p>
        </div>
      </div>
    </article>
  </li>



  <hr>


  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--the-gifts-of-imperfection-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://open.spotify.com/episode/2tHgyiOfZFVVd1xYsFpp5G" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/yaraticidusunmeninbencesi.jpeg' %}" 
            alt="The Gifts Hub" 
            data-srcset="{% static 'images/yaraticidusunmeninbencesi.jpeg' %} 300w, {% static 'images/yaraticidusunmeninbencesi.jpeg' %} 1024w, {% static 'images/yaraticidusunmeninbencesi.jpeg' %} 768w, {% static 'images/yaraticidusunmeninbencesi.jpeg' %} 1536w, {% static 'images/yaraticidusunmeninbencesi.jpeg' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/yaraticidusunmeninbencesi.jpeg' %} 300w, {% static 'images/yaraticidusunmeninbencesi.jpeg' %} 1024w, {% static 'images/yaraticidusunmeninbencesi.jpeg' %} 768w, {% static 'images/yaraticidusunmeninbencesi.jpeg' %} 1536w, {% static 'images/yaraticidusunmeninbencesi.jpeg' %} 2048w" 
            src="{% static 'images/yaraticidusunmeninbencesi.jpeg' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">Bencesi Podcast</a>
        <a href="https://open.spotify.com/episode/2tHgyiOfZFVVd1xYsFpp5G" class="archive-item__title__link">
          <h1 class="archive-item__title">Yaratıcı Düşünmenin Bencesi</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:20px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>"Sürekli kendini tekrarlayan bir iş, makineler tarafından icra edilebilir, ancak sonucu bilinmeyen yaratıcı sürecin otomatikleştirilmesi zordur." Sizce gelecekte karşılaşacağımız süreçlerde ve problemlerde "yaratıcılık" kavramı ne kadar önemli olacak? Sizleri Yaratıcı Düşünmenin Bencesi ile keşif yolculuğuna davet ediyoruz.</p>
        </div>
      </div>
    </article>
  </li>



  <hr>

  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--the-gifts-of-imperfection-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://www.spreaker.com/show/icimdeki-dogaclama" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/koselericizilemetenbasaripodcast.png' %}" 
            alt="" 
            data-srcset="{% static 'images/koselericizilemetenbasaripodcast.png' %} 300w, {% static 'images/koselericizilemetenbasaripodcast.png' %} 1024w, {% static 'images/koselericizilemetenbasaripodcast.png' %} 768w, {% static 'images/koselericizilemetenbasaripodcast.png' %} 1536w, {% static 'images/koselericizilemetenbasaripodcast.png' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/koselericizilemetenbasaripodcast.png' %} 300w, {% static 'images/koselericizilemetenbasaripodcast.png' %} 1024w, {% static 'images/koselericizilemetenbasaripodcast.png' %} 768w, {% static 'images/koselericizilemetenbasaripodcast.png' %} 1536w, {% static 'images/koselericizilemetenbasaripodcast.png' %} 2048w" 
            src="{% static 'images/koselericizilemetenbasaripodcast.png' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">İçimdeki Doğaçlama Podcast</a>
        <a href="https://www.spreaker.com/show/icimdeki-dogaclama" class="archive-item__title__link">
          <h1 class="archive-item__title">Köşeleri Çizilemeyen Başarı</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:20px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>Eşit olmayan hayat hikayelerinden mutlak bir başarı tanımı beklemek doğru olmaz. Peki başarıyı nasıl tanımlamalıyız? </p>
        </div>
      </div>
    </article>
  </li>


  <hr>


  <li class="ais-Hits-item">
    <article class="archive-item archive-item--hub theme--the-gifts-of-imperfection-dark">
      <div class="archive-item__image__wrapper">
        <a href="https://www.spreaker.com/show/icimdeki-dogaclama" class="tease__image__link tease__image__link--archive-item tease__image__link--hub--other" title="">
          <div class="tease__image__size">
            <img data-src="{% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %}" 
            alt="" 
            data-srcset="{% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 300w, {% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 1024w, {% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 768w, {% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 1536w, {% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 2048w" 
            data-sizes="auto" 
            class="lazy-img tease__image__mod js-modal-gallery__hidden lazyautosizes ls-is-cached lazyloaded" 
            sizes="422px" 
            srcset="{% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 300w, {% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 1024w, {% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 768w, {% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 1536w, {% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %} 2048w" 
            src="{% static 'images/baskasininhayalindeyorulmakpodcast.jpeg' %}">
          </div>
        </a>
      </div>
      <div class="archive-item__text-content">
        <a href="" class="archive-item__overline" title="">İçimdeki Doğaçlama Podcast</a>
        <a href="https://www.spreaker.com/show/icimdeki-dogaclama" class="archive-item__title__link">
          <h1 class="archive-item__title">Başkasının Hayalinde Yorulmak</h1>
        </a>
        <div class="archive-item__description" style="font-family: 'Lora'; font-size:20px; line-height: 1.58; letter-spacing: -0.03px; color: rgba(0, 0, 0, 0.68);">
          <p>Hepimiz belli zamanlarda bizim sandığımız ancak bizim olmayan hayallerin içerisinde yorulmuşuzdur. Peki nasıl yaşarsak yorulmayız? </p>
        </div>
      </div>
    </article>
  </li>


  <hr>


</ul>

{% endblock %}